@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;

}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}